@media (max-width: 1595px) {
	.start__page-mans {
		height: 700px;
	}
	.container {
		padding: 0px 30px;
	}
}

@media (max-width: 1270px) {
	.start__page-mans {
		display: none;
	}
	.about-us__page {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding-bottom: 115px;
	}

	.about-us__pic2 {
		position: absolute;
		top: 15px;
		padding: 0;
	}

	.about-us__pictures {
		position: relative;
		margin-left: 0;
		display: flex;
		margin-right: 142px;
	}

	.about-us__pic3 {
		position: relative;

		top: 0;
		right: 0;
	}
	.about-us__text {
		display: block;
		margin-top: 0px;
		margin: 0 auto;
		text-align: center;
	}

	.working-days__page {
		display: block;

		background-image: url('/img/working_days/unsplash_MUdB4YzDeKA.png');
		background-size: cover;
		background-attachment: fixed;
	}
	.working-days__page img {
		display: none;
	}

	.working-days__text {
		background-color: #fbb034;
		opacity: 0.9;
		flex: 1 1 auto;
		padding: 60px 148px 86px 46px;
		border: 4px solid black;

		padding: 20px;
	}

	.testimonials {
		padding: 54px 0px 131px;
		position: relative;
	}
	.testimonials__page {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.testimonials-text {
		max-width: 419px;
		width: 100%;
		text-align: center;
		padding-bottom: 40px;
	}

	.header__menu {
		display: none;
	}

	.header__burger {
		position: relative;
		width: 60px;
		height: 3px;
		background: #fff;
	}
	.header__burger::before {
		content: '';
		position: absolute;
		display: block;
		width: 60px;
		height: 3px;
		top: 8px;
		background: #fff;
	}
	.header__burger::after {
		content: '';
		position: absolute;
		display: block;
		width: 60px;
		height: 3px;
		bottom: 8px;
		background: #fff;
	}

	.testimonials-cards{
		flex-direction: column;
	}
}

@media (max-width: 998px) {
	.book_now__page {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.book_now__text {
		text-align: center;
		margin-bottom: 50px;
	}

	.header__btn {
		display: none;
	}

	.testosteron {
		display: none;
	}

	.footer__main {
		flex-direction: column;
		align-items: center;
		text-align: center;

		font-size: 20px;
	}

	.about{
		margin-bottom: 200px;
	}

	.services{
		margin-bottom: 200px;
	}


	.about__item-link {
		font-size: 40px;
		text-transform: uppercase;
	}

	.services__item-link {
		font-size: 40px;
		text-transform: uppercase;
	}

	.help__item-link {
		font-size: 40px;
		text-transform: uppercase;
	}

	.start-page__title {
		padding-top: 100px;
	}

	.footer__head{
		flex-direction: column;
	}
	.footer__head-right{
		flex-direction: column;
	}
}

@media (max-width: 511px){
	.start-bage__btn__1{
		text-align: center;
	}
	.start-bage__btn__2{
		text-align: center;
	}

	.start-page__btns .container {
		display: flex;
		flex-direction: column;
	}
	.start-bage__btn__1 {
		margin: 0;
	}
	.start-bage__btn__2 {
		margin: 0;
	}
}

@media (max-width: 425px) {
	.start-bage__btn__1{
		text-align: center;
	}
	.start-bage__btn__2{
		text-align: center;
	}

	.about-us__pictures {
		display: none;
	}

	.start-page__btns .container {
		display: flex;
		flex-direction: column;
	}

	.start-bage__btn__1 {
		margin: 0;
	}
	.start-bage__btn__2 {
		margin: 0;
	}

	.start-page__title .container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		text-align: center;
	}

	.call-now__number{
		text-align: center;
	}

	.kifti{
		display: none;
	}

	.book_now__text-middle{
		font-size: 30px;
	}

	.start-page__title .container .main-text{
		font-size: 30px;
	}

	.working-day__btn{
		align-items: center;
		justify-content: center;
	}
}
